# Module: elasticsearch
# Docs: https://www.elastic.co/guide/en/beats/metricbeat/master/metricbeat-module-elasticsearch.html

- module: elasticsearch
  xpack.enabled: true
  period: 10s
  hosts: ["https://localhost:9200"]
  protocol: "https"
  username: "elastic"
  password: "{{ elasticsearch_bootstrap_password }}"
  ssl.certificate_authorities: ["/etc/metricbeat/certs/elasticsearch-ca.pem"]